@keyframes moveUpAndDown {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-20px);
    }

    100% {
        transform: translateY(0);
    }
}

.animated-image {
    width: 150px;
    /* photo size*/
    image-rendering: pixelated;
    /* pixelated image */
    animation: moveUpAndDown 1.5s infinite;
    /* animation setting */
}