@keyframes moveDokan {
    0% {
        transform: translateX(100vw);
    }

    100% {
        transform: translateX(-100%);
    }
}

.animated-dokan-container {
    position: relative;
    z-index: 1;
    /* put dokan behind Mario */
    width: 100%;
    height: 100px;
    overflow: hidden;
    /* Hide the parts that overflow outside the container */
}

.animated-dokan {
    position: absolute;
    image-rendering: pixelated;
    /* pixelated image */
    top: 0;
    left: 0;
    width: 100px;
    height: 100px;
    animation: moveDokan 6s linear infinite;
    /* speed of animation */
}